header {
    margin-top: 10px;
    font-family: sans-serif;

    & > img {
        float: left;
    }

    .first-line {
        height: 46px;
        background-color: #A39161;

        a {
            float: right;
            margin-right: 100px;
            margin-top: 3px;
        }
    }

    .second-line {
        height: 86px;
        background-color: #58595B;
        color: white;
    }

    .third-line {
        height: 33px;
        background-color: #A84D10;
    }

    .fourth-line {
        height: 36px;
        background-color: #FFD65C;
    }

}