body {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 10px;
    font-family: sans-serif;
}

header .first-line {
    height: 35px;
    background-color: #A39161;
    color: white;
    position: relative;
    padding-left: 25px;
}

header .first-line h2 {
    font-size: 30px;
    line-height: 22px;
    float: left;
    margin: 0;
    font-weight: normal;
    padding-top: 13px;
}

header .first-line a {
    float: right;
    font-size: 35px;
    line-height: 35px;
    color: white;
    margin-right: 100px;
    text-decoration: none;
}

header .second-line {
    height: 60px;
    background-color: #58595B;
    color: white;
    padding-left: 25px;
}

header .second-line h1,
header .second-line ul {
    margin: 0;
    display: inline-block;
}

header .second-line h1 {
    font-size: 55px;
}

header .second-line ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 24px;
}

header .third-line {
    height: 30px;
    background-color: #A84D10;
    color: white;
    padding-left: 25px;
}

header .third-line h4 {
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
}

header .fourth-line {
    height: 40px;
    background-color: #FFD65C;
    color: black;
    padding-left: 25px;
}

header .fourth-line h3 {
    margin: 0;
    font-size: 21px;
}

footer {
    background-color: #58595B;
    color: white;
}